@model BioApp.Models.Analysis

@{
    ViewData["Title"] = "Редактировать";
}

<h3>Редактировать анализ</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="number" class="control-label"></label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bioSample" class="control-label"></label>
                <select asp-for="bioSample" class="form-control" asp-items="@Html.GetEnumSelectList<Biosample>()"></select>
                <span asp-validation-for="bioSample" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBiosampleCollecting" class="control-label"></label>
                <input asp-for="DateOfBiosampleCollecting"  type="date" class="form-control" />
                <span asp-validation-for="DateOfBiosampleCollecting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfAnalysis" class="control-label"></label>
                <input asp-for="DateOfAnalysis"  type="date" class="form-control" />
                <span asp-validation-for="DateOfAnalysis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnalysisIsPerformedBy" class="control-label"></label>
                <input asp-for="AnalysisIsPerformedBy" class="form-control" />
                <span asp-validation-for="AnalysisIsPerformedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="preventiveCare" /> @Html.DisplayNameFor(model => model.preventiveCare)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="earlyMetastasis" /> @Html.DisplayNameFor(model => model.earlyMetastasis)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="lateMetastasis" /> @Html.DisplayNameFor(model => model.lateMetastasis)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="melanomaConfirmedEarlyStage" /> @Html.DisplayNameFor(model => model.melanomaConfirmedEarlyStage)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MelanomaTypeId" class="control-label"></label>
                <select asp-for="MelanomaTypeId" class="form-control" asp-items="ViewBag.MelanomaTypeId"></select>
                <span asp-validation-for="MelanomaTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />| <a asp-action="Index" asp-route-patientId="@ViewBag.PatientId.id">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
