@model BioApp.Models.Patient

@{
    ViewData["Title"] = "Create";

}

<h1>Персональные и клинические данные пациента</h1>

<hr />

<button class="btn btn-primary" onclick="OpenCommonData()">Общие данные</button>
<button class="btn btn-primary" onclick="OpenExogenousFactors()">Экзогенные факторы риска</button>
<button class="btn btn-primary" onclick="OpenEndogenousFactors()">Эндогенные факторы риска</button>
<button class="btn btn-primary" onclick="HighRiskGroup()">Группа высокого риска</button>

<form asp-action="Create">
    <div class="row">
        <div class="col" id="CommonData" style="display:block">
            <b>Общие данные</b>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="registrationDate" class="control-label"></label>
                <input asp-for="registrationDate" type="date" class="form-control" />
                <span asp-validation-for="registrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <b>Данные паспорта:</b>
            <div class="nav">
                <div class="form-group" style="flex: 1 0 auto; ">
                    <label asp-for="seriaPassport" class="control-label"></label>
                    <input asp-for="seriaPassport" class="form-control" />
                    <span asp-validation-for="seriaPassport" class="text-danger"></span>
                </div>
                <div class="form-group" style="flex: 1 0 auto; margin-left: 10px">
                    <label asp-for="numberPassport" class="control-label"></label>
                    <input asp-for="numberPassport" class="form-control" />
                    <span asp-validation-for="numberPassport" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="issuedByPassport" class="control-label"></label>
                <input asp-for="issuedByPassport" class="form-control" />
                <span asp-validation-for="issuedByPassport" class="text-danger"></span>
            </div>
            <div class="nav" >
                <div class="form-group" style="flex: 1 0 auto">
                    <label asp-for="datePassport" class="control-label"></label>
                    <input asp-for="datePassport" type="date" class="form-control" />
                    <span asp-validation-for="datePassport" class="text-danger"></span>
                </div>
                <div class="form-group" style="flex: 1 0 auto; margin-left: 10px">
                    <label asp-for="kodPassport" class="control-label"></label>
                    <input asp-for="kodPassport" class="form-control" />
                    <span asp-validation-for="kodPassport" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="INN" class="control-label"></label>
                <input asp-for="INN" class="form-control" />
                <span asp-validation-for="INN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SNILS" class="control-label"></label>
                <input asp-for="SNILS" class="form-control" />
                <span asp-validation-for="SNILS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OMSNumber" class="control-label"></label>
                <input asp-for="OMSNumber" class="form-control" />
                <span asp-validation-for="OMSNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthDate" class="control-label"></label>
                <input asp-for="birthDate" type="date" class="form-control" />
                <span asp-validation-for="birthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PlaceOfBirth" class="control-label"></label>
                <input asp-for="PlaceOfBirth" class="form-control" />
                <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PlaceOfResidence" class="control-label"></label>
                <input asp-for="PlaceOfResidence" class="form-control" />
                <span asp-validation-for="PlaceOfResidence" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select asp-for="gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>

        <div class="col" id="ExogenousFactors" style="display:none">
            <b>Экзогенные факторы риска</b>
            <div class="form-group">
                <label asp-for="burns" class="control-label"></label>
                <select asp-for="burns" class="form-control" asp-items="@Html.GetEnumSelectList<Burns>()"></select>
                <span asp-validation-for="burns" class="text-danger"></span>
            </div>
        </div>


        <div class="col" id="EndogenousFactors" style="display:none">
            <b>Эндогенные факторы</b>
            <div class="form-group">
                <label asp-for="ageGroup" class="control-label"></label>
                <select asp-for="ageGroup" class="form-control" asp-items="@Html.GetEnumSelectList<AgeGroup>()"></select>
                <span asp-validation-for="ageGroup" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="immuneSystemDiseases" class="control-label"></label>
                <input type="checkbox" asp-for="immuneSystemDiseases" class="form-control" />
                <span asp-validation-for="immuneSystemDiseases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="skinType" class="control-label"></label>
                <select asp-for="skinType" class="form-control" asp-items="@Html.GetEnumSelectList<SkinType>()"></select>
                <span asp-validation-for="skinType" class="text-danger"></span>
            </div>

            <div class="nav">

                <a class="btn" asp-action="Create1" asp-controller="Patients">
                    <img alt="Qries" src="~/img/fitz6.png" background-color="inherit" width="70" height="70" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/fitz5.png" background-color="inherit" width="70" height="70" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/fitz4.png" background-color="inherit" width="70" height="70" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/fitz3.png" background-color="inherit" width="70" height="70" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/fitz2.png" background-color="inherit" width="70" height="70" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/fitz1.png" background-color="inherit" width="70" height="70" />
                </a>
            </div>


            <div class="form-group">
                <label asp-for="eyeType" class="control-label"></label>
                <select asp-for="eyeType" class="form-control" asp-items="@Html.GetEnumSelectList<EyeType>()"></select>
                <span asp-validation-for="eyeType" class="text-danger"></span>
            </div>

            <b>I тип. Темный.</b>
            <div class="nav">
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye1.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye2.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye3.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye4.png" background-color="inherit" width="140" height="110" />
                </a>
            </div>
            <b>II тип. Смешанный.</b>
            <div class="nav">
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye5.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye6.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye7.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye8.png" background-color="inherit" width="140" height="110" />
                </a>
            </div>
            <b>III тип. Светлый.</b>
            <div class="nav">
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye9.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye10.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye11.png" background-color="inherit" width="140" height="110" />
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients">
                    <img alt="Qries" src="~/img/eye12.png" background-color="inherit" width="140" height="110" />
                </a>
            </div>
            <div class="form-group">
                <label asp-for="hairType" class="control-label"></label>
                <select asp-for="hairType" class="form-control" asp-items="@Html.GetEnumSelectList<HairType>()"></select>
                <span asp-validation-for="hairType" class="text-danger"></span>
            </div>

            <div class="nav">
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair10.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">10</div>
                    <div class="rectangle text_right">Платин,</div>
                    <div class="rectangle text_right">блондин</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair9.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">9</div>
                    <div class="rectangle text_right">Яркий</div>
                    <div class="rectangle text_right">блондин</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair8.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">8</div>
                    <div class="rectangle text_right">Блондин</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair7.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">7</div>
                    <div class="rectangle text_right">Светло-</div>
                    <div class="rectangle text_right">русый</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair6.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">6</div>
                    <div class="rectangle text_right">Средне-</div>
                    <div class="rectangle text_right">русый</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair5.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">5</div>
                    <div class="rectangle text_right">Темно-</div>
                    <div class="rectangle text_right">русый</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair4.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">4</div>
                    <div class="rectangle text_right">Светло-</div>
                    <div class="rectangle text_right">коричн.</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients"style="background-color: white">
                    <img alt="Qries" src="~/img/hair3.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">3</div>
                    <div class="rectangle text_right">Средне-</div>
                    <div class="rectangle text_right">коричн.</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair2.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">2</div>
                    <div class="rectangle text_right">Темно-</div>
                    <div class="rectangle text_right">коричн.</div>
                </a>
                <a class="btn" asp-action="Create" asp-controller="Patients" style="background-color: white">
                    <img alt="Qries" src="~/img/hair1.png" background-color="inherit" width="80" height="110" />
                    <div class="rectangle text_right">1</div>
                    <div class="rectangle text_right">Черный</div>
                    <div class="rectangle text_right"></div>
                </a>
            </div>


            <div class="form-group">
                <label asp-for="previousMelanoma" class="control-label"></label>
                <input type="checkbox" asp-for="previousMelanoma" class="form-control" />
                <span asp-validation-for="previousMelanoma" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="previousMelanomaInFamily" class="control-label"></label>
                <input type="checkbox" asp-for="previousMelanomaInFamily" class="form-control" />
                <span asp-validation-for="previousMelanomaInFamily" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PresenceOfFreckles" class="control-label"></label>
                <input type="checkbox" asp-for="PresenceOfFreckles" class="form-control" />
                <span asp-validation-for="PresenceOfFreckles" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="nevusType" class="control-label"></label>
                <select asp-for="nevusType" class="form-control" asp-items="@Html.GetEnumSelectList<NevusType>()"></select>
                <span asp-validation-for="nevusType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hormonalChangesNew" class="control-label"></label>
                <select asp-for="hormonalChangesNew" class="form-control" asp-items="@Html.GetEnumSelectList<HormonalChangesNew>()"></select>
                <span asp-validation-for="hormonalChangesNew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geneticAbnormalitiesInChromosomes" class="control-label"></label>
                <select asp-for="geneticAbnormalitiesInChromosomes" class="form-control" asp-items="@Html.GetEnumSelectList<GeneticAbnormalitiesInChromosomes>()"></select>
                <span asp-validation-for="geneticAbnormalitiesInChromosomes" class="text-danger"></span>
            </div>
        </div>

        <div class="col" id="HighRiskGroup" style="display:none">
            <b>Группа высокого риска</b>
            <p>Ранее, в течение последних 5 лет, был случай заболевания меланомой или раком кожи (базальноклеточная карцинома, плоскоклеточный рак, пигментная ксеродермия ….). </p>
            <div class="form-group">
                <label asp-for="melanoma" class="control-label"></label>
                <select asp-for="melanoma" class="form-control" asp-items="@Html.GetEnumSelectList<Melanoma>()"></select>
                <span asp-validation-for="melanoma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="compoundMelonoma" class="control-label"></label>
                <select asp-for="compoundMelonoma" class="form-control" asp-items="@Html.GetEnumSelectList<CompoundMelonoma>()"></select>
                <span asp-validation-for="compoundMelonoma" class="text-danger"></span>
            </div>
            <p>Случаи меланомы в семейном анамнезе</p>
            <div class="form-group">
                <label asp-for="parents" class="control-label"></label>
                <select asp-for="parents" class="form-control" asp-items="@Html.GetEnumSelectList<Parents>()"></select>
                <span asp-validation-for="parents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="simba" class="control-label"></label>
                <select asp-for="simba" class="form-control" asp-items="@Html.GetEnumSelectList<Simba>()"></select>
                <span asp-validation-for="simba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="relatives" class="control-label"></label>
                <select asp-for="relatives" class="form-control" asp-items="@Html.GetEnumSelectList<Relatives>()"></select>
                <span asp-validation-for="relatives" class="text-danger"></span>
            </div>
            <p>Большое количество родинок</p>
            <div class="form-group">
                <label asp-for="numberOfMoles" class="control-label"></label>
                <input type="checkbox" asp-for="numberOfMoles" class="form-control" />
                <span asp-validation-for="numberOfMoles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nevus" class="control-label"></label>
                <select asp-for="nevus" class="form-control" asp-items="@Html.GetEnumSelectList<Nevus>()"></select>
                <span asp-validation-for="nevus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthmarks" class="control-label"></label>
                <select asp-for="birthmarks" class="form-control" asp-items="@Html.GetEnumSelectList<Birthmarks>()"></select>
                <span asp-validation-for="birthmarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uf" class="control-label"></label>
                <select asp-for="uf" class="form-control" asp-items="@Html.GetEnumSelectList<UF>()"></select>
                <span asp-validation-for="uf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="immuneSystem" class="control-label"></label>
                <input type="checkbox" asp-for="immuneSystem" class="form-control" />
                <span asp-validation-for="immuneSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XerodermaPigmentosum" class="control-label"></label>
                <input type="checkbox" asp-for="XerodermaPigmentosum" class="form-control" />
                <span asp-validation-for="XerodermaPigmentosum" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" /> | <a asp-action="Index" class="btn btn-primary">Назад к списку</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function OpenCommonData() {
        var CommonData = document.getElementById("CommonData");
        var ExogenousFactors = document.getElementById("ExogenousFactors");
        var EndogenousFactors = document.getElementById("EndogenousFactors");
        if ((window.getComputedStyle(CommonData).display === "none") && ((window.getComputedStyle(ExogenousFactors).display === "block") || (window.getComputedStyle(EndogenousFactors).display === "block"))) {
            CommonData.style.display = "block";
            ExogenousFactors.style.display = "none";
            EndogenousFactors.style.display = "none";
        }
    }
</script>

<script>
    function OpenExogenousFactors() {
        var CommonData = document.getElementById("CommonData");
        var ExogenousFactors = document.getElementById("ExogenousFactors");
        var EndogenousFactors = document.getElementById("EndogenousFactors");
        var HighRiskGroup = document.getElementById("HighRiskGroup");
        if ((window.getComputedStyle(ExogenousFactors).display === "none") && ((window.getComputedStyle(CommonData).display === "block") || (window.getComputedStyle(HighRiskGroup).display === "block") || (window.getComputedStyle(EndogenousFactors).display === "block"))) {
            ExogenousFactors.style.display = "block";
            CommonData.style.display = "none";
            HighRiskGroup.style.display = "none";
            EndogenousFactors.style.display = "none";
        }
    }
</script>

<script>
    function OpenEndogenousFactors() {
        var CommonData = document.getElementById("CommonData");
        var ExogenousFactors = document.getElementById("ExogenousFactors");
        var EndogenousFactors = document.getElementById("EndogenousFactors");
        var HighRiskGroup = document.getElementById("HighRiskGroup");
        if ((window.getComputedStyle(EndogenousFactors).display === "none") && ((window.getComputedStyle(ExogenousFactors).display === "block") || (window.getComputedStyle(HighRiskGroup).display === "block") || (window.getComputedStyle(CommonData).display === "block"))) {
            EndogenousFactors.style.display = "block";
            ExogenousFactors.style.display = "none";
            HighRiskGroup.style.display = "none";
            CommonData.style.display = "none";
        }
    }
</script>

<script>
    function HighRiskGroup() {
        var CommonData = document.getElementById("CommonData");
        var ExogenousFactors = document.getElementById("ExogenousFactors");
        var EndogenousFactors = document.getElementById("EndogenousFactors");
        var HighRiskGroup = document.getElementById("HighRiskGroup");
        if ((window.getComputedStyle(HighRiskGroup).display === "none") && ((window.getComputedStyle(ExogenousFactors).display === "block") || (window.getComputedStyle(EndogenousFactors).display === "block") || (window.getComputedStyle(CommonData).display === "block"))) {
            HighRiskGroup.style.display = "block";
            EndogenousFactors.style.display = "none";
            ExogenousFactors.style.display = "none";
            CommonData.style.display = "none";
        }
    }
</script>